# Introduction panel default applications
# This file contains full paths to .desktop files to display
# Lines starting with # are comments
# distros can ship introduction.list for their own lists of additional apps to show
/usr/share/applications/network.cycles.wdisplays.desktop
/usr/share/applications/org.buddiesofbudgie.BudgieDesktopSettings.desktop
